#signup-form {

}

#signup-form label {

}

#signup-form input {

}

#signup-form input:focus {

}

#signup-form button[type=submit] {

}

#signup-form button[type=submit]:focus {
  outline: 3px auto hsl(283,58%,21%);
  background: hsl(283,58%,21%);
  outline-offset: 2px;
}